/* #1483b0 Cor de fundo */
/* #ffe701 Cor do amarelo do texto */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --branco-principal: #FFFFFF;
    --amarelo-secundario: #c20a0a;
    --cor-fundo: #010a0e;
    --cinza-botao: #c0c0c0;
    --fonte-principal: 'Inter';

}

body {
    background-color: var(--cor-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("Img/background6.png");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-around;
}

.Botao__de__assinatura {
    background-color: var(--amarelo-secundario);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;

}


.container__aviso {
    font-size: 13px;
    color: var(--cinza-botao);
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__img {
    margin: 1em 0 2em 0;
}
.Aviso {
    margin-bottom: 1em;
    font-size: 15px;
    color: var(--cinza-botao)
}

.container__caixa {
    margin: 6em 6em;

}

.secundario__img {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.secundariou {
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--amarelo-secundario);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cinza-botao);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;

}

.container__descricao {
    padding: 2em;
    text-align: center;
}

.descricao__texto__terceira {
    font-size: 18px;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--cinza-botao);
}

.lista__item {
    font-size: 32px;
    color: var(--cinza-botao);
}

.rodape {
    text-align: center;
    margin: 1em 0;
}

.lista__link {
    display: inline-flex;
    justify-content: center;
    margin: 2em 1em;
    font-size: 12px;

}

.lista__link a {
    text-decoration: none;
    color: var(--cinza-botao);
}

.rodape__texto {
    font-size: 10px;
    margin: 2em 0;
    color: var(--cinza-botao);
}

.lista__link a:hover {
    color: var(--amarelo-secundario);

}


@media screen and ( max-width: 768px) {
    .container {
        display: block;
        background-image: ;
    }

    .container__img {
        width: 50vw;
    }

    .container__caixa {
        margin: 2em 2em;
    }
    .secundario {
        margin: 0;
        text-align: center;
    }
    .secundario__img {
        width: 50vw;
    }
    .dispositivos__lista {
        display: block;
    }
    .lista__link {
        display: block;
    }
    .secundariou {
        display: block;
        margin: 0;
        text-align: center;
    }
}


/*@media  screen and (max-width: 560px) {
    .principal {
         width: 100%;
         display: flex;
        flex-direction: column;
    }
    .secundario {
        display: flex;
        flex-direction: column;
    }
    .secundariou {
        display: flex;
        flex-direction: column;
    }
    .dispositivos {
        display: flex;
        flex-direction: column;
    }
    .rodape {
        display: flex;
        flex-direction: column;
    }
} */
